h1, h3, span{
    letter-spacing: 5px;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.list-ctn{ 
    padding-top: 60px
}

/* .list-ctn .artist-img{
    padding:20px
} */

/* .list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: end;
} */

.list-wrapper{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.list-wrapper .item-list{
    width: 50%;
}

.list-ctn:nth-child(even) .list-wrapper{
    flex-direction: row-reverse;
}

/* .list-ctn:nth-child(even) .info-ctn .song-info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
} */

.info-ctn{
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000
}

/* .song-info-ctn:first-child{
    padding-top:0
} */

/* .info-ctn .voting-box{
    width: 50px;
    height: 40px;
    border: 1px solid red;
    background: transparent;
} */

/* checbox style */
.voting-box {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.voting-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -15px;
    right: 0;
    height: 35px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #ff4d00
}

.voting-box:hover input ~ .checkmark {
    background-color: #ccc;
}



.checkmark:after{
    position: absolute;
    content: "";
    display: none;
}

.voting-box input:checked ~ .checkmark:after{
    display: block;
}

.voting-box .checkmark:after {
    left: 16px;
    top: 0px;
    width: 10px;
    height: 20px;
    border: solid #ff4d00;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* checbox style end*/

.song-info h3, .cover-info h3{
    font-size: 28px;
}

.info-ctn:hover, .info-ctn.selected{
    padding: 10px 20px;
    background: #ff4d00;
    border-bottom: none;
    transform: scale(1.15, 1.2);
    cursor: pointer;
}



/* .info-ctn:hover .voting-box, .voting-box.selected{
    display: none;
} */

.info-ctn:hover .song-info, 
.info-ctn:hover .cover-info,
.info-ctn .song-info.selected, 
.info-ctn .cover-info.selected,
.info-ctn.selected{
    color: #fff
}

/* .right-ctn .button-ctn{
    text-align: right;
    padding: 40px 0;
}

.left-ctn .button-ctn{
    text-align: left;
    padding: 40px 0;
} */

.list-ctn .button-ctn{
    padding: 40px 0;
}

.list-ctn:nth-child(odd) .button-ctn{
    text-align: right;
}

.button{
    background: #ff4d00;
    outline: none;
    border: none;
    color: #fff;
    width: 140px;
    height: 50px;
    font-size: 25px;
    letter-spacing: 5px;
}

.button:hover{
    cursor: pointer;
}


.left-ctn .song-info-ctn{
    text-align: right;
}