h1, h3, span{
    letter-spacing: 5px;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.right-ctn{
    padding-top: 60px
}

.list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: end;
}

.info-ctn{
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000
}

/* .song-info-ctn:first-child{
    padding-top:0
} */

.info-ctn .voting-box{
    width: 50px;
    height: 40px;
    border: 1px solid red;
    background: transparent;
}

.song-info h3, .cover-info h3{
    font-size: 28px;
}

.info-ctn:hover, .info-ctn.selected{
    padding: 10px 20px;
    background: #ff4d00;
    border-bottom: none;
    transform: scale(1.15, 1.2);
    cursor: pointer;
}



.info-ctn:hover .voting-box, .voting-box.selected{
    display: none;
}

.info-ctn:hover .song-info h3, 
.info-ctn:hover .song-info span,
.info-ctn:hover .cover-info h3, 
.info-ctn:hover .cover-info span,

.info-ctn h3.selected, .info-ctn span.selected{
    color: #fff
}

.right-ctn .button-ctn{
    text-align: right;
    padding: 40px 0;
}

.left-ctn .button-ctn{
    text-align: left;
    padding: 40px 0;
}

.button{
    background: #ff4d00;
    outline: none;
    border: none;
    color: #fff;
    width: 140px;
    height: 50px;
    font-size: 25px;
    letter-spacing: 5px;
}


.left-ctn .song-info-ctn{
    text-align: right;
}